

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: cyan;
    width: 25%;
    height: 100vh;
    overflow: scroll;
    
}

#main-doc {
    margin-left: 27%;
}

@media (max-width: 800px){
    #navbar {
        position: fixed;
        top: 0;
        left: 0;
        background-color: cyan;
        width: 100%;
        height: 25vh;
        overflow: scroll;
        display: block;
        
    }

    #main-doc {
        margin-left: 3%;
    }
    
}